[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/dhawalx
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/dhawalx
	label-Verified = -1..+1 group user/dhawalx
	push = group user/dhawalx
	read = group user/dhawalx
	rebase = group user/dhawalx
	removeReviewer = group user/dhawalx
	submit = group user/dhawalx
[access "refs/heads/*"]
	create = group user/dhawalx
	push = +force group user/dhawalx
	pushMerge = group user/dhawalx
	read = group user/dhawalx
[access "refs/tags/*"]
	push = group user/dhawalx
	push = +force group user/dhawalx
